doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          .b-breadcrumbs
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li Blog
          h1.b-headlines__ttl Blog

      .b-content.container
        main.b-main
          #masnBox.b-box-wrap
            article.b-box.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga

            article.b-box.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link
        .b-box__btn-wrap.txt--centr
          .btn-icon__wrap.
            <a href="#" class="btn btn-icon">More blogs</a>
            <svg x="0px" y="0px"
              width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10.004,17V3"/>
            <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M3,9.98h14"/>
            </svg>


      include components/footer
    include components/scripts
