doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .main-slide
        .main-slide__btn-item
        .main-slide__slider#sliderMain

          .main-slide__item-a
            .main-slide__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_19_Original.jpg")
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl.main-slide__s1-ttl--indent FRIENDS Private House Party
                .main-slide__date-wrap
                  time(datetime="2015-09-23T08:00").date-lg
                    span.date-lg__dt 23
                    span.date-lg__rh
                      span.date-lg__rh-m september 2015
                      span.date-lg__rh-d Mon
                      span.date-lg__rh-t 8:00 am
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht.b-likes--indent
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px"
                      viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px"
                      viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px"
                      viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px"
                      viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>

                  .main-slide__link-wrap
                    a.btn.btn-info.btn-anim-a(href="event-open.html")
                      | <span>free</span>
                      | <span><svg x="0px" y="0px"
                      | viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      | <path class="st0" fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                      |  <b>read more</b></span>

          .main-slide__item-b
            .main-slide__bg-wrap.bg-grdnt
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl FRIENDS Private House Party
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px"
                        viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px"
                      viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px"
                        viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px"
                        viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                  .main-slide__link-wrap
                    .btn-pointer__wrap.
                      <a class="btn btn-pointer btn-pointer--lg btn-anim-a" href="event-open.html"><b>More</b></a>
                      <svg class="btn-pointer__left" x="0px" y="0px"
                      viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

      .b-promo
        .container
          h2.b-promo__s2-ttl We happily announce our new dancehall "Rivierra" with two bars
          p.
            But still, we love to roll loud dancing until dawn, and then to "crawl" on the body,
            remember proschedshem evente perekrik and share emotions we experienced some time ago.

          .btn-pointer-b__wrap.
            <a href="#" class="btn-pointer-b btn-anim-b"><b>Watch Promo Live</b></a>
            <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
            </svg>

            <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
            </svg>

      .b-events
        .container
          .row
            .b-tabs.col-lg-8
              h6.s6-heading.b-tabs__ttl Top events
              ul.b-tabs__nav.b-tabs__nav-tabs(role="tablist")
                li.active(role="presentation")
                  a(href="#block-a", aria-controls="block-a", role="tab", data-toggle="tab").
                    <svg baseProfile="tiny" width="10" height="10" x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,4h4V0H0V4z M6,0v4h4V0H6z M0,10h4V6H0V10z M6,10h4V6H6V10z"/>
                    </svg>
                li(role="presentation")
                  a(href="#block-b", aria-controls="block-b", role="tab", data-toggle="tab").
                    <svg baseProfile="tiny" width="10" height="10"
                    x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,0v4h10V0H0z M10,10V6H0v4H10z"/>
                    </svg>
              .b-tabs__content
                #block-a.b-tabs__pane.fade.in.active.row(role="tabpanel")
                  .b-tabs__pane-item.col-sm-6
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_01_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_02_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-tabs__pane-item.col-sm-6
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_03_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-tabs__pane-item.col-sm-6
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_04_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-box__btn-wrap.txt--centr.col-sm-12
                    .btn-icon__wrap.
                      <a href="#" class="btn btn-icon">More events</a>
                      <svg x="0px" y="0px"
                        width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                      <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10.004,17V3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M3,9.98h14"/>
                      </svg>
                #block-b.b-tabs__pane.fade.in.row(role="tabpanel")
                  .b-tabs__pane-item.col-xs-12
                    .c-box.c-box-v
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_01_Retina.jpg")
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-tabs__pane-item.col-xs-12
                    .c-box.c-box-v
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 St. Patrick’s Day in New York
                          p.c-box__txt.c-box__txt--display Cruachan, Lunasa, Flook, McGoldrick's band
                        .c-box__date-item
                          time.date.c-box__date(datetime="2016-09-24T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_02_Retina.jpg")
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-tabs__pane-item.col-xs-12
                    .c-box.c-box-v
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_03_Retina.jpg")
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-tabs__pane-item.col-xs-12
                    .c-box.c-box-v
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-08-29T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_04_Retina.jpg")
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                        a(href="event-open.html" rel="nofollow").b-box__link
                  .b-box__btn-wrap
                    a(href="").btn.btn-icon.btn-icon--plus More events

            aside.b-aside.col-xs-12.col-lg-4
              .row
                .b-aside-item.col-xs-12.col-sm-6.col-lg-12
                  .b-item__header
                    .s6-heading.b-item__ttl-header Last video
                    a.btn--mini.btn-icon.btn-icon--refresh(href="#")
                  .b-video-item__iframe-md
                    iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                  h6.s6-heading We happily announce our new dancehall "Rivierra" with two bars
                  p.small-txt.
                    But still, we love to roll loud dancing until dawn, and then to "crawl" on the body, remember
                     proschedshem evente perekrik and share emotions we experienced some

                .b-aside-item.col-xs-12.col-sm-6.col-lg-12
                  .b-item__header
                    .s6-heading.b-item__ttl-header Blog
                    a.btn.btn--mini(href="blog.html") More
                  article.b-box.b-box-sm.b-box--clr-b
                    .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
                    .b-box__date
                      time(datetime="2015-05-25T14:44") may 25, 14:44
                    h6.b-box__s6-ttl.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    a(href="blog-open.html").b-box__link
                  article.b-box.b-box-sm.b-box--clr-b
                    .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_02_Retina.jpg")
                    .b-box__date
                      time(datetime="2015-05-25T14:44") may 25, 14:44
                    h6.b-box__s6-ttl.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    a(href="blog-open.html").b-box__link
                  article.b-box.b-box-sm.b-box--clr-a
                    .b-box__date
                      time(datetime="2015-05-25T14:44") may 25, 14:44
                    h6.b-box__s6-ttl.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    a(href="blog-open.html").b-box__link
      .b-promo-sc
        .container
          .row
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-promo-sc__cont
                span.fa.fa-bullhorn
                h5.s5-heading Feel our new dancehall "Rivierra"
              .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
              .b-promo-sc__inner-bg
              a(href="#").b-promo-sc__link
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-promo-sc__cont
                span.fa.fa-fire-extinguisher
                h5.s5-heading Check this hot live from "Cube Party"
              .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
              .b-promo-sc__inner-bg
              a(href="#").b-promo-sc__link
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-audio__item
                iframe(width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212039125&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

      .b-past-evnt
        .container
          .row
            .b-item__header.col-xs-12
              h6.s6-heading.b-item__ttl-header Past events
              a.btn.btn--mini(href="events.html") More
            .c-box.c-box--lg.col-xs-12.col-md-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="event-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px"
                    viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="event-open.html" rel="nofollow").b-box__link
            .c-box.c-box--lg.col-xs-12.col-md-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="event-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px"
                    viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="event-open.html" rel="nofollow").b-box__link
      .b-gallery
        .b-gallery__img-wrap.bg-image(data-bgimage="")
        .container
          .row
            .b-item__header.col-xs-12
              h6.s6-heading.b-item__ttl-header Gallery
            .b-gallery__slider.btn-white#sliderGallery
              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

      .b-partners
        .container
          .row
            .b-item__header.col-xs-12
              h6.s6-heading.b-item__ttl-header Meet our partners
            .b-partners__slider#sliderPartners
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner1.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner2.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner3.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner4.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner5.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner6.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner4.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner5.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner6.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner5.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner6.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner4.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner5.jpg" alt="logo partners")
                  a(href="#")
              .b-partners__item
                .b-partners__img-wrap
                  img(src="../uploads/partners/partner6.jpg" alt="logo partners")
                  a(href="#")

      include components/footer4
    include components/scripts