//
// Tabs
// --------------------------------------------------

.b-tabs__ttl
  display: inline-block
  text-transform: uppercase
  letter-spacing: 2px

.b-tabs__nav
  padding: 0
  float: right

.center .b-tabs__nav
  display: inline-block
  float: none

.b-tabs__nav-tabs--center
  float: none
  overflow: hidden
  text-align: center

.b-tabs__nav-tabs li
  position: relative
  display: inline-block
  width: 35px
  height: 35px
  box-shadow: 0 0 0 2px $tab-bg inset
  transition: all 0.2s ease
  &:last-child
    margin-left: -5px

.b-tabs__nav-tabs li.active
  background-color: $tab-bg

.b-tabs__nav-tabs li a
  position: relative
  display: inline-block
  width: 35px
  height: 35px
  border-bottom: none
  & svg
    @include absolute-center-x-y()

.b-tabs__nav-tabs li.active:nth-of-type(1) a path,
.b-tabs__nav-tabs li.active:nth-of-type(2) a path
  fill: #fff

.b-tabs__nav-tabs li.active a::after
  background-color: #fff

.b-tabs__nav-tabs li:nth-of-type(1) a path
  fill: $black-c
  transition: all 0.2s ease

.b-tabs__nav-tabs li:nth-of-type(2) a path
  transition: all 0.2s ease

.b-tabs__content
  margin-top: 26px
  margin-bottom: 40px

.b-tabs__pane
  display: none
  overflow: hidden

.b-tabs__pane.active
  display: block

.b-tabs__pane-item:nth-of-type(2n+1)
  clear: both

.b-box-wrap .b-tabs__pane-item:nth-of-type(2n+1)
  clear: none

.fade.in
  opacity: 1

.fade
  opacity: 0
  transition: opacity .15s linear

.b-tabs__nav-tabs li:hover
  background-color: $black-c
  box-shadow: 0 0 0 2px $black-c inset

.b-tabs__nav-tabs li:nth-of-type(1):hover a path,
.b-tabs__nav-tabs li:nth-of-type(2):hover a path
  fill: #fff


.b-tabs__nav-btn
  padding: 0

.b-tabs__nav-btn > li
  display: inline-block
  width: 85px
  height: 35px
  background-color: #fff
  box-shadow: 0 0 0 2px $black-c inset
  transition: all 0.2s ease
  &:last-child
    margin-left: -5px


.b-tabs__nav-btn > li.active
  background-color: $black-c

.b-tabs__nav-btn > li.active a
  color: #fff

.b-tabs__nav-btn > li a
  font-size: 14px
  font-family: $second-font
  color: #000
  line-height: 35px
  border-bottom: 0

.b-tabs__nav-btn li:hover
  background-color: $black-c
  a
    color: #fff

.b-tabs-btn .b-tabs__pane-item:nth-of-type(2n+1)
  clear: none

.txt--centr
  text-align: center

.indent-btm
  margin-bottom: 80px

.b-tabs__nav-btn
  margin-bottom: 80px

@media (min-width: $screen-sm)
  .b-tabs__content
    margin-bottom: 112px

@media (min-width: $screen-lg)
  .b-tabs__content
    margin-bottom: 0
