//
// Typography
// --------------------------------------------------

body
  font-family: $base-font
  color: $txt-c
  line-height: 1
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal
  span
    font-family: $base-font
    text-transform: none

sup
  top: -0.1em

//.s1-heading,
//.s2-heading,
//.s3-heading,
//.s4-heading,
//.s5-heading,
//.s6-heading
//  text-transform: uppercase

.fa
  font-family: 'Font Awesome'

.center-txt
  text-align: center

.s1-heading
  margin: 65px 0
  font-family: $base-bold-font
  font-size: 40px

.s2-heading
  margin: 30px 0
  font-family: $second-bold-font
  font-size: 24px

.s3-heading
  margin: 20px 0
  font-family: $second-bold-font
  font-size: 24px
  line-height: 30px

.s4-heading
  margin: 20px 0
  font-family: $second-bold-font
  font-size: 22px

.s5-heading
  margin: 10px 0
  font-family: $second-bold-font
  font-size: 20px

.s6-heading
  margin: 10px 0
  font-family: $second-bold-font
  font-size: 18px

.large-txt
  font-size: 20px

p,
.txt
  font-size: 15px
  line-height: 25px

.small-txt
  margin: 10px 0
  font-size: 14px
  line-height: 20px

.x-small-txt
  font-size: 10px
  line-height: 14px

.txt-intro
  font-size: 20px
  font-style: italic
  line-height: 30px
  
.i,
i,
italic
  font-family: $base-bold-it-font
  font-style: normal

.b,
b,
strong
  font-family: $base-bold-font
  font-weight: normal
  line-height: 24px

a
  text-decoration: none
  word-break: break-all
  transition: all 0.2s ease

.link.link--dash
  width: 140px
  display: block
  min-height: 21px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

p
  margin-top: -13px
  margin-bottom: 40px

ul,
ol
  margin: 0
  padding: 0 0 0 48px
  list-style-type: none

blockquote
  position: relative
  margin: 0 0 30px 0
  padding: 0 0 0 48px

blockquote::before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 23px
  width: 5px

.b-code
  display: block
  margin-bottom: 40px
  padding: 60px
  background-color: $code-c

.b-footnote
  margin: 25px 0 30px
  padding-top: 16px
  border-top: 1px solid #ccc

.b-footnote p
  margin: 0
  color: #999
  font-size: 14px
  line-height: 20px

.b-footnote__mark
  font-size: 18px

@media (min-width: $screen-sm)
  .s1-heading
    font-size: 48px

  .s2-heading
    font-size: 30px