<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Aboutus.aspx.cs" Inherits="Aboutus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <!-- Sliding start -->
    <style type="text/css">
    @font-face{
        font-family:"Univers LT W01_57 Condensed";
        src:url("Fonts/1476004/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix");
        src:url("Fonts/1476004/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix") format("eot"),url("Fonts/1476004/bf8f8741-5f64-4db9-a877-a44624092e68.woff2") format("woff2"),url("Fonts/1476004/7ce02c2c-45d4-4dee-90f2-f8034e29ac24.woff") format("woff"),url("Fonts/1476004/0955c906-88fc-47e8-8ea2-0765bdf88050.ttf") format("truetype");
    }
   
          @media screen and (max-width: 960px) {
            .container {
                width: 100%;
            }

            #a1 {
                width: 20%;
            }
        }
          @media screen and (max-width:640px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                margin-right:10px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
                  background-repeat:no-repeat!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
                  margin-right:10px!important;
            }
            .mobimstext{
 padding-left:50px!important;
                padding-right:50px!important;
            }
        }
           @media screen and (max-width:760px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
                  background-repeat:no-repeat!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
            }
             .mobimstext{
 padding-left:50px!important;
                padding-right:50px!important;
            }
        }
           @media screen and (max-width:960px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
                 background-repeat:no-repeat!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
            }
            .mobimstext{

                padding-left:50px!important;
                padding-right:50px!important;
            }
        }
    .b-panel-t::before {
    border-left: 0px solid #530d85;
}</style>
    <div class="b-headlines"style="background-image:url(images/high-dine.jpg);height:350px;">
        <div class="container" >
          <div class="b-breadcrumbs">
            
          </div>
         
        </div>
      </div>
     <!-- Sliding end -->

     <!-- About us-->
      
        
   <div class="b-events"style="background-color:black">
        <div class="container">
          <div class="row">
            <%--<div class="b-tabs col-lg-8 " style="width:108% ;">--%>
              <h6  class="s6-heading b-tabs__ttl  mobimstext"style="color:white;padding-left:75px;">ABOUT US</h6>

              <div class="b-tabs__content">
                  
                <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row">
                  <div class="b-tabs__pane-item col-sm-6" style="width:90%;">
                    <%--<div class="c-box">--%>
                    <%--  <div class="c-box__inner">--%>
                         
                        <%--<div data-bgimage="" class="b-box__img-wrap  bg-image" style="filter:opacity(40%);"> </div>--%>
                                   
         <div class="mobimstext" style= "font-family:'Univers LT W01_57 Condensed' !important; padding-right:128px; padding-left:75px; color:white;text-align:justify"> <!--<h2 style="color:white; text-align:center;font-family:arial,Arial, Helvetica, sans-serif" "><b>'of course everyone cannot be at HIGH, classy are only few..'</b></h2>-->
          <%--<p  style="color:white;text-align:justify;">
         <b style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spread lavishly across 10,000 square feet, HIGH Ultra Lounge is a modern Asian bar and restaurant located on the 31st floor of the World Trade Center building at a height of 421 feet, making it the highest dining destination in South India.<br /><br />
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>Blending the outdoors and indoors with breathtaking views of the city and sensuous interiors, the venue raises the bar experience. </p><br /><br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>The lounge offers classic and comforting Pan Asian Food with a slightly modern twist; while the beverages use contemporary mixology to create concoctions flavored with natural spices and herbs; combine that with fun service and the unmatched ambiance and you have a venue that should be on your must-visit list in the city.</p><br /><br />
             <br /> --%>
             <p>Spread lavishly across 10,000 square feet, HIGH Ultra Lounge is a modern Asian bar and restaurant located on the 31st floor of the World Trade Center building at a height of 421 feet, making it the highest dining destination in South India.</p>
           <p>
               Blending the outdoors and indoors with breathtaking views of the city and sensuous interiors, the venue raises the bar experience.
           </p>
             <p>
                 The lounge offers classic and comforting Pan Asian Food with a slightly modern twist; while the beverages use contemporary mixology to create concoctions flavored with natural spices and herbs; combine that with fun service and the unmatched ambiance and you have a venue that should be on your must-visit list in the city. 
             </p>
             
             
              </div>
                      
                      
           <div class="mobimstext" style="padding-left:0px; padding-right: 85px;" >
             <p>
            <h3 style="color:white; text-align:center;font-family:'Univers LT W01_57 Condensed' !important;"><b>HIGH Ultra Lounge looks to redefine the lounge bar experience to make guests feel on top of the world.</b></h3>
          </p></div>
         
        


<%--                        </div>--%>
                       
                      <%--  <div class="c-box__link-wrap">
                         
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>--%>
                 <%--     </div>--%>
                    </div>
                  </div>
                    </div>
                  <%--</div>--%></div>
              </div>
            </div>
       </div>
                                
</asp:Content>

