﻿<%@ Page Title="" Language="C#" MasterPageFile="Site.Master" AutoEventWireup="true" CodeFile="contacthigh.aspx.cs" Inherits="contacthigh" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
   
    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <!-- Sliding start -->
    <%--<div class="main-slide">
        <div class="main-slide__btn-item"></div>
        <div id="sliderMain" class="main-slide__slider">
          <div class="main-slide__item-a">
            <div data-bgimage="images/high-dine.jpg" class="main-slide__img-wrap bg-image"></div>
            <div class="container" >
              
            </div>
          </div>
        
          <div class="main-slide__item-b" >
             
            <div class="main-slide__bg-wrap bg-grdnt"  style="background-image:url(images/high-mix.jpg)"></div>
            <div class="container">
              
            </div>
          </div>
        </div>
      </div>--%>
  
    <div class="b-headlines"style="background-image:url(images/high-dine.jpg);height:350px;">
        <div class="container" >
          <div class="b-breadcrumbs">
            <ul class="b-breadcrumbs__list x-small-txt">
              <li><a href="Default.aspx" class="link">main</a></li>
              <li style="color:white; margin-top:75px;">Contact High</li>
            </ul>
          </div>
          <h1 class="b-headlines__ttl" style="color:white;">Contact High</h1>
        </div>
      </div>
          
     <!-- Sliding end -->

    <!--event high-->

    <div class="b-promo" style="background-color:black; border-top:solid;border-color:darkgoldenrod;">
        <div class="container">
          <h2 class="b-promo__s2-ttl" style="color:goldenrod; text-align:left;">Contact US</h2>
          <br />

            
             <div class ="col-md-6">

                 <div class="col-md-12">
                       <div class="form-box">
                          <asp:TextBox ID="TextBox1" placeholder="First Name" runat="server" style="width:100%;height: 40px;"></asp:TextBox>
                          <%--<input type="text" name="name" placeholder="First Name" required style="width:100%;height: 35px;" >--%>
                       </div>
                 </div>
                 <br />
                 <br />
                 <br />
                 <br />
                  <div class="col-md-12">
                       <div class="form-box">
                           <asp:TextBox ID="TextBox2" placeholder="Email" runat="server" style="width:100%;height: 40px;"></asp:TextBox>
                          <%--<input type="text" name="name" placeholder="Email" required style="width:100%;height: 35px;" >--%>
                       </div>
                 </div>
                  <br />
                 <br />
                 <br />
                 <br />
                  <div class="col-md-12">
                       <div class="form-box">
                           <asp:TextBox ID="TextBox3" placeholder="Mobile" runat="server" style="width:100%;height: 40px;"></asp:TextBox>
                          <%--<input type="text" name="name" placeholder="Mobile" required style="width:100%;height: 35px;" >--%>
                       </div>
                 </div>
                  <br />
                 <br />
                 <br />
                 <br />
                  <div class="col-md-12">
                       <div class="form-box">
                          <%--<input type="datetime-local" name="name" placeholder="Date" required style="width:100%;height: 35px;" >--%>
                          <asp:TextBox ID="TextBox4" placeholder="Message" runat="server" style="width:100%;height: 80px;" TextMode="MultiLine"></asp:TextBox>
                       </div>
                 </div>  
                 <br />
                 <br />
                 <br />
                 <br />
                  
                  <div class="col-md-12">
                       <div class="form-box">
                           <%--<button type="submit" style="height: 45px;width: 27%;" class="default-button submit-btn">
                               <b style="color:white; background-color:goldenrod;font-size: 18px;">Submit Now</b></button>--%>
                          <br />
                 <br />
                 <br />
                 <br />
                            <asp:Button ID="Button1" runat="server" Text="submit"
                                style="height: 45px;width: 27%;color:white; background-color:goldenrod;font-size: 18px;" class="default-button submit-btn" OnClick="Button1_Click"/>
                       </div>
                 </div>  
                 
                 
                                      
             </div>

     

  



             <div class ="col-md-6"style="padding-bottom:100px;">
                <h2 style="color:white;">Locate High</h2> 
                 <h3 style="color:red">HIGH address / HIGH on google</h3>
                 <p style="color:white">
                    Rooftop,World Trade Center,
                    Bangalore Brigade Gateway Campus,
                    26/1,Dr. Rajkumar Road,
                    Malleswaram, Bangalore,
                    Karnataka – 560 055.  </p>                   
                  <h3 style="color:red">HIGH on call : 9180 4567 4567 (OR) 9172 5995 1076</h3>
                  <p style="color:white"></p> 

                  <h3 style="color:red">HIGH on email : high@sheraton.com</h3>
                <p style="color:white"></p> 
               <h3 style="color:red">HIGH direction :</h3>
                  <p style="color:white">
                    Enter Brigade Gateway Campus - Landmark, Orion Mall.
                    Locate the World Trade Centre building,
                    Drop off at the High Ultra Lounge lobby,
                    Take the observation elevator to the rooftop. Welcome to HIGH  </p>         
            </div>
<%--          <section id="block-block-18" class="block block-block col-md-6 clearfix">

      
  <div class="video-blk">
<video controls="" width="100%"><source src="sites/default/files/video/testimonial.mp4" type="video/mp4"></source> Your browser does not support HTML5 video.</video></div>

</section>--%>


      
<%--  <div class="contact-high-wrapper>
<h2 class="contact-address-title"style="color:white;height:0px;"><strong>locate HIGH</strong></h2>
<p style="color:red;height:0px;"><strong>HIGH address / <a href="https://www.google.co.in/maps/place/High+Ultra+Lounge/@13.0081569,77.5497348,13.75z/data=!4m5!3m4!1s0x0:0xe338eeb360b7bd6!8m2!3d13.0126105!4d77.5560354" style="color:#fff;" target="_blank">HIGH on google</a></strong></p>
<address style="color:white;">Rooftop,World Trade Center,<br />
Bangalore Brigade Gateway Campus,<br />
26/1,Dr. Rajkumar Road,<br />
Malleswaram, Bangalore,<br />
Karnataka – 560 055.</address>
<p style="color:red;height:0px;"><strong>HIGH on call :</strong></p>
<p style="color:white;height:0px;">9180 4567 4567 (OR) 9172 5995 1076</p>
<p style="color:red;height:0px;"><strong>HIGH on email : <a href="mailto:high@sheraton.com">high@sheraton.com</a></strong></p>
<p style="color:red;height:0px;"><strong>HIGH direction :</strong></p>
<p style="color:white;height:0px;">Enter Brigade Gateway Campus - Landmark, Orion Mall.<br />
Locate the World Trade Centre building,<br />
Drop off at the High Ultra Lounge lobby,<br />
Take the observation elevator to the rooftop. <span class="highlate">Welcome to HIGH</span></p>
</div>--%>

        </div>
      </div>
    
    
    <!-- event high-->

    <!-- google map -->
    <div class="b-promo" style="background-color:black; border-top:solid;border-color:darkgoldenrod;">
        <div style="width: 100%"><iframe width="100%" height="600" 
             src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=No.%2026%2F1%2C%20Rooftop%2C%20World%20Trade%20Center%2C%20Bangalore%20Brigade%20Gateway%20Campus%2C%20Dr.%20Rajkumar%20Road%2C%20Malleswaram%2C%20Bengaluru%2C%20Karnataka%20560055+(High%20Ultra%20Lounge)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" 
             frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">
                 Google Maps iframe generator</a></iframe>

        </div>
          
    </div> 
    <!-- google map -->
</asp:Content>

