/**
 * Mixins #mixins
 */
*::-moz-selection {
  background-color: #c0d23e; }
*::selection {
  background-color:#c0d23e }

a {
  color: #c0d23e;
  /*border-bottom: 1px solid #c0d23e;*/ }

blockquote::before {
  background-color: #c0d23e; }

.b-footnote__mark {
  color: #c0d23e; }

.b-accordion__panel-ttl .collapsed {
  color: #c0d23e; }

.main-slide .btn-pointer__wrap:hover .btn-pointer {
  color:  #202020;
  background-color:  #202020; }

.main-slide .btn-pointer__wrap:hover .btn-pointer__left path {
  fill:  #202020; }

.btn-info {
  background-color: #c0d23e; }

.btn-info svg path {
  fill: #e15e32; }

.btn-pointer,
.btn-pointer__sm {
  background-color: #e15e32; }

.btn-pointer__left path {
  fill: #e15e32; }

.btn-info span:nth-of-type(2) {
  background-color: #c0d23e; }

.btn-pointer__wrap:hover .btn-pointer,
.btn-pointer__wrap:hover .btn-pointer__sm {
  background-color: #e15e32; }

.btn-pointer__wrap:hover .btn-pointer__left path {
  fill: #e15e32; }

.btn-pointer-b__wrap {
  background-color: #e15e32; }

.btn-pointer-b__wrap .left path,
.btn-pointer-b__wrap .right path {
  fill: #e15e32; }

.b-footer__days {
  color: #c0d23e; }

.b-footer__contacts a {
  color: #c0d23e;
  border-color: #c0d23e; }

.navbar-list__inner {
  background: #b5c82f; }

.navbar__hr-wrap {
  background-color: #c0d23e; }

.b-video-item__txt {
  color: #c0d23e !important; }

.b-video-item__data {
  color: #c0d23e; }

.b-box {
  color: #c0d23e;
  -webkit-box-shadow: 0 0 0 2px #c0d23e inset;
          box-shadow: 0 0 0 2px #c0d23e inset; }

.b-box:hover {
  color: #530d85;
  -webkit-box-shadow: 0 0 0 2px #530d85 inset;
          box-shadow: 0 0 0 2px #530d85 inset; }

.b-box--clr-a {
  background-color: #c0d23e; }

.b-box--clr-a:hover {
  background-color: #530d85; }

.b-box--clr-b:hover {
  background-color: #530d85; }

.content > ul li::before {
  background-color: #c0d23e; }

.content > ol li::before {
  color: #c0d23e; }

.b-share__list {
  color: #c0d23e; }

.b-share__list svg .svg__fill {
  fill: #c0d23e;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.b-share__list li:hover {
  color: #530d85; }

.b-share__list li:hover svg .svg__fill {
  fill: #530d85; }

.header--toggled .navbar-toogle {
  background-color: #c0d23e; }

.navbar-collapse.active {
  background-color: #c0d23e; }

.b-accordion__panel-ttl a:hover {
  color: #530d85; }

.panel--bg-b {
  background-color: #c0d23e; }

.panel--bg-c {
  background-color: #530d85; }

.main-slide__item-a,
.main-slide__item-b {
 /* background-color: #530d85;*/ }

.main-slide .btn-pointer__wrap .btn-pointer {
  color: #530d85; }

.b-form__btn:hover {
  background-color: #530d85; }

.b-form__btn {
  background-color: #c0d23e; }

.b-video__cnt-wrap:hover .b-video-item__data,
.b-video__cnt-wrap:hover .b-video-item__txt {
  color: #530d85 !important; }

.c-box__link:hover,
.b-gallery .c-box__link:hover,
.c-box__inner:hover + h6 .c-box__link {
  color: #530d85; }

.mega-menu__item-cont .b-form__btn {
  background-color: #202020; }
  .mega-menu__item-cont .b-form__btn:hover {
    background-color: #530d85; }

.b-msg {
  background-color: #530d85; }

.b-msg__corner {
  border-left: 23px solid #530d85; }

.b-panel-t {
  background-color: #202020; }
.btn-pointer-b__wrap
.b-panel-t::before {
  border-left: 0px solid #202020; }

.b-promo__s2-ttl {
  color: #530d85; }

.c-box__inner .b-box__grdnt-a::after {
  background-image: -webkit-linear-gradient(305deg, #530d85 0%, rgba(192, 200, 62, 0.45) 100%);
  background-image: -o-linear-gradient(305deg, #530d85 0%, rgba(192, 200, 62, 0.45) 100%);
  background-image: linear-gradient(145deg, #530d85 0%, rgba(192, 200, 62, 0.45) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF530D85', endColorstr='#73C0C83E', GradientType=0); }

.b-promo-sc__item:hover .b-promo-sc__inner-bg {
  background-color: rgba(83, 13, 133, 0.33); }

.main-slide__item-b::after {
  background-color: rgba(83, 13, 133, 0.7); }

.b-partners__img-wrap a:hover {
  background-color: rgba(83, 13, 133, 0.66); }

.link:hover,
.b-footer__contacts-phones li a:hover {
  color: #530d85;
  border-color: #530d85; }

@media (min-width: 768px) {
  .main-slide__item-inr {
    background-color: #530d85; }
  .main-slide__item-a .main-slide__item-inr {
    background-color: rgba(83, 13, 133, 0.7); } }

@media (min-width: 1280px) {
  .btn-pointer-b__wrap:hover {
    background-color:#202020; }
  .btn-pointer-b__wrap:hover .left path,
  .btn-pointer-b__wrap:hover .right path {
    fill:#202020; }
  .navbar-current {
    color: darkgoldenrod; }
  .navbar-dropdown__menu {
    background: black; }
  .mega-menu {
    background-color: purple; }
  .navbar-list > li:hover > a {
      background-color:gray ; } }
