//
// Blog box
// --------------------------------------------------
.b-box-wrap
  margin-bottom: 30px
  overflow: hidden

.b-box
  position: relative
  float: left
  width: 100%
  min-height: 325px
  margin-bottom: 25px
  padding: 20px

.b-box:hover
  transition: all 0.2s ease-out

.b-box__s6-ttl
  position: absolute
  right: 20px
  left: 20px
  bottom: 16px
  margin: 0
  font-size: 18px
  font-family: $second-bold-font
  line-height: 20px

.b-box--clr-a
  color: #fff

.b-box--clr-b
  color: #fff
  background-color: $black-c
  box-shadow: none

.b-box__img-wrap
  @extend %bg-images

.b-box__date
  position: relative
  float: left
  font-size: 12px
  text-transform: uppercase
  z-index: 1

.b-box-sm
  min-height: 150px

.b-box__img-wrap.bg-image
  opacity: 0.6

.b-box__link
  @include absolute-center()
  border-bottom: none

.b-box--clr-a:hover
  color: #fff
  box-shadow: none
  transition: all 0.2s ease-out

.b-box--clr-b:hover
  color: #fff
  transition: all 0.2s ease-out

.b-box__btn-wrap
  text-align: center
  clear: both

.b-box__bg-a
  background: $black-c

@media (min-width: $screen-sm)
  .b-box-wrap .b-box
    width: 47%

@media (min-width: $screen-lg)
  .b-box-wrap .b-box
    width: 31.5%


// Blog inner
.b-blog-inr__aside
  margin-bottom: 40px

.b-blog-inr .txt-intro p
  margin-top: 0

.b-blog-inr__aside .b-blog-inr__img-wrap
  margin: 0 auto 0

.b-blog-inr__img-wrap
  margin-bottom: 45px

.b-blog-inr__img-wrap img
  width: 100%

@media (min-width: $screen-sm)
  .b-blog-inr__aside
    float: right
    margin: 0 0 20px 20px

  .b-blog-inr__aside .b-blog-inr__img-wrap
    max-width: 260px



